<div id="scheduler_here" class="dhx_cal_container" style='width:100%; height:800px;'>
  <div class="dhx_cal_navline">
    <div class="dhx_cal_prev_button">&nbsp;</div>
    <div class="dhx_cal_next_button">&nbsp;</div>
    <div class="dhx_cal_today_button"></div>
    <div class="dhx_cal_date"></div>
  </div>
  <div class="dhx_cal_header">
  </div>
  <div class="dhx_cal_data">
  </div>
</div>
<script>
    function schedule(){
        scheduler.config.xml_date="%Y-%m-%d %H:%i";
        scheduler.init("scheduler_here",new Date(),"month");
        scheduler.load("<%= routeSchedule_path(0) %>", "json");
    }

    function refresh() {
        scheduler.config.xml_date="%Y-%m-%d %H:%i";
        scheduler.init("scheduler_here",new Date(),"month");
        scheduler.load("<%= fetch_path%>", "json");
    }
    scheduler.config.xml_date="%Y-%m-%d %H:%i";
    scheduler.init("scheduler_here",new Date(),"month");
    scheduler.load("<%= fetch_path%>", "json");
    var dp = new dataProcessor("<%= calendar_action_path %>");
    dp.init(scheduler);
    dp.setTransactionMode("GET", false);
</script>