<form action="get_email" class="new_user" id="new_user" method="post">
  <label for="user_email">Email<br /></label>
    <input id="user_email" name="user[email]" size="30" type="email" value="" /></div>
    <input name="commit" type="submit" value="Submit" />
</form>

<!--<form action="get_code" class="new_user" id="new_user" method="post">-->
  <!--<label for="code">Paste kode di sini<br /></label>-->
  <!--<input id="user_code" name="user[code]" size="100" type="text" value="" /></div>-->
  <!--<input name="commit_code" type="submit" value="Accept" />-->
<!--</form>-->