<header class="grimps-white grimps-text-alcu demo-header mdl-layout__header mdl-color-text--grey-600">
  <div class="mdl-layout__header-row">
    <div class="grimps-text-title" style="margin-right: 50px"><i class="material-icons">date_range</i> CALENDAR</div>
    <i class="material-icons">search</i>
    <form id = "search" style="margin-left: 30px">
      <input style="height: 40px; width: 500px; border:0px" name="search" placeholder="Search calendars..."></form>
    </form>
    <div class="mdl-layout-spacer"></div>
    <!-- Left aligned menu below button -->
    <div id="notif" class="material-icons mdl-badge mdl-badge--overlap" data-badge="2" style="margin-right: 30px">
      notifications
    </div>
    <ul class="grimps-text-lato mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="notif">
      <li class="mdl-menu__item" onclick="window.location.href='dsn-notes.html'"><img src="images/graduate.jpg"><span>Hillary wants to change examination.</span></li>
      <li class="mdl-menu__item" onclick="window.location.href='dsn-notes.html'"><img src="images/graduate.jpg"><span>Your changes had been approved.</span></li>
    </ul>
    <div class="grimps-text-title"></div>
  </div>
</header>