<header class="grimps-white grimps-text-alcu demo-header mdl-layout__header mdl-color-text--grey-600">
  <div class="mdl-layout__header-row">
    <div class="grimps-text-title" style="margin-right: 50px"><i class="material-icons">date_range</i> CALENDAR</div>
    <!--<i class="material-icons">search</i>-->
    <!--<form id = "search" style="margin-left: 30px">-->
      <!--&lt;!&ndash;<input style="height: 40px; width: 500px; border:0px" name="search" placeholder="Search calendars..."></form>&ndash;&gt;-->
    <!--</form>-->
    <div class="mdl-layout-spacer"></div>
    <!-- Left aligned menu below button -->

    <div title="Schedule it Now" id="execute_schedule" class="material-icons" style="margin-right: 30px; cursor:pointer">
      play_arrow
    </div>

    <div title="Refresh data" id="refresh_data" class="material-icons" style="margin-right: 30px; cursor:pointer" onclick="refresh()">
      refresh
    </div>

    <div title="Logout" id="exit_to_app" class="material-icons" style="margin-right: 30px; cursor:pointer" onclick="window.location.href='login.html'">
      exit_to_app
    </div>

    <!--<li class="mdl-menu__item" onclick="window.location='index.html'">Logout</li>-->
    <!--<ul class="grimps-text-lato mdl-menu mdl-menu&#45;&#45;bottom-right mdl-js-menu mdl-js-ripple-effect" for="notif">-->
      <!--<li class="mdl-menu__item" onclick="window.location.href='dsn-notes.html'"><img src="images/graduate.jpg"><span>Hillary wants to change examination.</span></li>-->
      <!--<li class="mdl-menu__item" onclick="window.location.href='dsn-notes.html'"><img src="images/graduate.jpg"><span>Your changes had been approved.</span></li>-->
    <!--</ul>-->
    <div class="grimps-text-title"></div>
  </div>
</header>