<div class="grimps-blue demo-drawer mdl-layout__drawer mdl-color-text--blue-grey-50">
  <header class="demo-drawer-header grimps-text-plain">
      <div class="user-info">
        <img src="images/user.jpg" class="demo-avatar">
        <div>
          <span class="grimps-text-lato grimps-text-big">Yudistira Asnar</span><br>
          <span>Lecturer</span>
        </div>
      </div>
      <div class="demo-avatar-dropdown">
        <div class="mdl-layout-spacer"></div>
        <span class="email" title="yudis@informatika.org">yudis@informatika.org</span>
        <button id="accbtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
          <i class="material-icons" role="presentation">arrow_drop_down</i>
          <span class="visuallyhidden">Accounts</span>
        </button>
        <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="accbtn">
          <li class="mdl-menu__item" onclick="window.location='dsn-profil.html'">Profile</li>
          <li class="mdl-menu__item" onclick="window.location='index.html'">Logout</li>
        </ul>
      </div>
      <hr>
    </header>

  <% render 'layouts/left_part_checkboxes' %>

</div>