<nav class="grimps-text-alcu grimps-text-title demo-navigation mdl-navigation">
  <div id="view">
    <div class="grimps-text-view">View</div>
    <!--Tampilan day-->
    <div id = "day">
      <div class="mdl-navigation__link grimps-text-plain" onclick="dayview()"><i class="material-icons">view_day</i>Day</div>
    </div>
    <script>
        function dayview() {
            var str = "<div class=\"mdl-navigation__link grimps-text-plain grimps-selected\" onclick=\"dayview()\"><i class=\"material-icons\">view_day</i>Day</div>";
            document.getElementById("day").innerHTML = str;
            str = "<div class=\"mdl-navigation__link grimps-text-plain\" onclick=\"weekview()\"><i class=\"material-icons\">view_week</i>Week</div>";
            document.getElementById("week").innerHTML = str;
            str = "<div class=\"mdl-navigation__link grimps-text-plain\" onclick=\"monthview()\"><i class=\"material-icons\">view_module</i>Month</div>";
            document.getElementById("month").innerHTML = str;
            str = "<div class=\"mdl-navigation__link grimps-text-plain\" onclick=\"listview()\"\><i class=\"material-icons\">view_list</i>List</div>";
            document.getElementById("list").innerHTML = str;
            scheduler.init('scheduler_here',new Date(),"day");
        }
    </script>

    <!--Tampilan week-->
    <div id = "week">
      <div class="mdl-navigation__link grimps-text-plain" onclick="weekview()"><i class="material-icons">view_week</i>Week</div>
    </div>
    <script>
        function weekview() {
            var str = "<div class=\"mdl-navigation__link grimps-text-plain\" onclick=\"dayview()\"><i class=\"material-icons\">view_day</i>Day</div>";
            document.getElementById("day").innerHTML = str;
            str = "<div class=\"mdl-navigation__link grimps-text-plain grimps-selected\" onclick=\"weekview()\"><i class=\"material-icons\">view_week</i>Week</div>";
            document.getElementById("week").innerHTML = str;
            str = "<div class=\"mdl-navigation__link grimps-text-plain\" onclick=\"monthview()\"><i class=\"material-icons\">view_module</i>Month</div>";
            document.getElementById("month").innerHTML = str;
            str = "<div class=\"mdl-navigation__link grimps-text-plain\" onclick=\"listview()\"\><i class=\"material-icons\">view_list</i>List</div>";
            document.getElementById("list").innerHTML = str;
            scheduler.init('scheduler_here',new Date(),"week");
        }
    </script>

    <!--Tampilan month-->
    <div id = "month">
      <div class="mdl-navigation__link grimps-text-plain grimps-selected" onclick="monthview()"><i class="material-icons">view_module</i>Month</div>
    </div>
    <script>
        function monthview() {
            var str = "<div class=\"mdl-navigation__link grimps-text-plain\" onclick=\"dayview()\"><i class=\"material-icons\">view_day</i>Day</div>";
            document.getElementById("day").innerHTML = str;
            str = "<div class=\"mdl-navigation__link grimps-text-plain\" onclick=\"weekview()\"><i class=\"material-icons\">view_week</i>Week</div>";
            document.getElementById("week").innerHTML = str;
            str = "<div class=\"mdl-navigation__link grimps-text-plain grimps-selected\" onclick=\"monthview()\"><i class=\"material-icons\">view_module</i>Month</div>";
            document.getElementById("month").innerHTML = str;
            str = "<div class=\"mdl-navigation__link grimps-text-plain\" onclick=\"listview()\"\><i class=\"material-icons\">view_list</i>List</div>";
            document.getElementById("list").innerHTML = str;
            scheduler.init('scheduler_here',new Date(),"month");
        }
    </script>

    <!--Tampilan list-->
    <div id = "list">
      <div class="mdl-navigation__link grimps-text-plain" onclick="listview()"><i class="material-icons">view_list</i>List</div>
    </div>
    <script>
        function listview() {
            var str = "<div class=\"mdl-navigation__link grimps-text-plain\" onclick=\"dayview()\"><i class=\"material-icons\">view_day</i>Day</div>";
            document.getElementById("day").innerHTML = str;
            str = "<div class=\"mdl-navigation__link grimps-text-plain\" onclick=\"weekview()\"><i class=\"material-icons\">view_week</i>Week</div>";
            document.getElementById("week").innerHTML = str;
            str = "<div class=\"mdl-navigation__link grimps-text-plain\" onclick=\"monthview()\"><i class=\"material-icons\">view_module</i>Month</div>";
            document.getElementById("month").innerHTML = str;
            str = "<div class=\"mdl-navigation__link grimps-text-plain grimps-selected\" onclick=\"listview()\"\><i class=\"material-icons\">view_list</i>List</div>";
            document.getElementById("list").innerHTML = str;

        }
    </script>

  </div>
  <!--Checkbox calendar used-->
  <div id = "calendar-option">
    <br>
    <div class="grimps-text-view">Calendars</div>
    <div class="grimps-text-calendar-option">
    </div>
  </div>
</nav>