<nav class="grimps-text-alcu grimps-text-title demo-navigation mdl-navigation">
  <div id="view">
    <div class="grimps-text-view">View</div>
    <!--Tampilan day-->
    <div id = "day">
      <div class="mdl-navigation__link grimps-text-plain" onclick="dayview()"><i class="material-icons">view_day</i>Day</div>
    </div>


    <!--Tampilan week-->
    <div id = "week">
      <div class="mdl-navigation__link grimps-text-plain" onclick="weekview()"><i class="material-icons">view_week</i>Week</div>
    </div>


    <!--Tampilan month-->
    <div id = "month">
      <div class="mdl-navigation__link grimps-text-plain grimps-selected" onclick="monthview()"><i class="material-icons">view_module</i>Month</div>
    </div>


    <!--Tampilan list-->
    <div id = "list">
      <div class="mdl-navigation__link grimps-text-plain" onclick="listview()"><i class="material-icons">view_list</i>List</div>
      awawawawawawa
    </div>


  </div>
  <!--Checkbox calendar used-->
  <div id = "calendar-option">
    <br>
    <div class="grimps-text-view">Calendars</div>
    <div class="grimps-text-calendar-option">
    </div>
  </div>
</nav>